body {
    font-family: 'Roboto', sans-serif;
    color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar Styling */
.navbar {
    background:linear-gradient(to right, #004080, #3366cc);
    color: white;
}
.navbar-brand {
    color: #e0e0e0;
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar-brand:hover {
    color: #e0e0e0;
}
.navbar-brand small {
    display: block;
    font-size: 0.8rem;
    color: #e0e0e0;
}
.nav-link {
    color: white !important;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: #ffcc00 !important;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #004080, #3366cc);
    color: white;
    padding: 60px 20px;
    text-align: center;
     /*flex: 1 0 auto; Allow hero to grow and shrink */
}
/* Cards Styling */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.card h4 {
    color:#004080;
    text-align: center;
    font-weight: bold;
}
.card p {
    color: #555;
}
.card .btn-primary {
    background: linear-gradient(to right, #004080, #3366cc);
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.card .btn-primary:hover {
    background: #003366;
}

/* Modal Styling */
.modal-header {
    background: linear-gradient(to right, #004080, #3366cc);
    color: white;
}
.modal-content {
    border-radius: 15px;
}
.modal-body .form-label {
    font-weight: 600;
}
.modal-body .form-control {
    border-radius: 10px;
}
.modal-body .btn-primary {
    background: linear-gradient(to right, #004080, #3366cc);
    border-radius: 20px;
}
.modal-body .btn-primary:hover {
    background: #003366;
}
